body{
    display: flex;
    flex-direction: column;
    width: 100%;

    .cabeza{
        width: 100%;
        flex: 0 0 auto;
        position: relative;
    }

    .cuerpo{
        width: 100%;
        flex: 1 0 auto;
    }
    
    .pies{
        width: 100%;
        flex: 0 0 auto;
    }
}