<div class="Contenedor">
    <div class="Contenido">
        <div class="Contenido1">
            <h1>INICIAR SESIÓN</h1>
            <form [formGroup]="form" (ngSubmit)="ComprobarLoginAdmin()" method="post">
                <div class="mb-3">
                    <label for="Usuario" class="form-label">Usuario</label>
                    <input type="text" formControlName="user"  class="form-control" id="Usuario" placeholder="Usuario">
                  </div>
                  <div class="mb-3">
                    <label for="contrasena" class="form-label">Contraseña</label>
                    <input type="password" formControlName="contrasena" class="form-control" id="contrasena" placeholder="Contraseña">
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Enviar</button>
                  </div>
            </form>
        </div>
        <div class="Contenido2">
            <div class="logo">
                <a routerLink=""><img src="assets/img/logos/LOGOBLANCO.svg"></a>
            </div>
            <div class="info">
                <h3>Aquí solo iniciarán sesión los administradores</h3>
            </div>
        </div>
    </div>
</div>