<div class="container-fuild mt-5 mb-5">
    <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-center">
        <h1 class="mb-5 mt-1 ms-5">Baterias</h1>
    </div>
    <div class="contenedor">
        <div class="repiteproducto" *ngFor="let bateria of Baterias; let i = index" >
            <div class="carta">
                <img src="/assets/img/products/{{bateria.ImagenProducto}}">
                <div class="cuerpo-carta">
                    <h5>{{bateria.NombreProducto}}</h5>
                    <p>{{bateria.DescripcionProducto}}</p>
                    <button class="boton btn btn-outline-dark" routerLink="{{bateria.CategoriaProducto}}">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>