<div class="container-fuild mt-5 mb-5">
    <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-center">
        <h1 class="mb-5 mt-1 ms-5">Teclados</h1>
    </div>
    <div class="contenedor">
        <div class="repiteproducto" *ngFor="let teclas of Teclados; let i = index" >
            <div class="carta">
                <img src="/assets/img/products/{{teclas.ImagenProducto}}">
                <div class="cuerpo-carta">
                    <h5>{{teclas.NombreProducto}}</h5>
                    <p>{{teclas.DescripcionProducto}}</p>
                    <button class="boton btn btn-outline-dark" routerLink="{{teclas.CategoriaProducto}}">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>