<div class="intro content-fluid d-flex w-100">
    <div class="imagen">
    <img src="assets/img/Gibson_LP_Classic.png" height="850px">    
    </div>
    <div class="contenido">
        <div class="titular">
            <img src="assets/img/logos/LOGONEGRO.svg">
            <h3>Bienvenido a la <mark>MEJOR</mark> tienda de instrumentos</h3>
        </div>
        <div class="intro">
            <p class="small lead">Aunque nuestra especialidad sean las guitarras, ofrecemos más que estas.</p>
            <p class="small lead">¿A qué estás esperando para descubrirlo? ¡Hechale un vistazo a todos y cada uno de los instrumentos!</p>
            <h5>¡TE GUSTARÁN!</h5>
        </div>
    </div>
</div>
