<div class="contacto container-fluid">
    <div class="titulo">
        <h2>Contacto</h2>
    </div>
    <div class="info">
        <p>Puedes contactar con nosotros de varias formas, ya sea por Correo, Movil, o Visitando nuestra tienda física.</p>
        <span>Número de Teléfono: +34 922 24 00 69</span>
    </div>
    <div class="form">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" placeholder="example@example.com" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="validationTextarea" class="form-label">Textarea</label>
                <textarea class="form-control" placeholder="Ecriba aquí su mensaje para la empresa" required></textarea>
              </div>
            <button type="submit" class="btn btn-outline-dark">CONTACTAR</button>
          </form>
    </div>
</div>