<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid ms-4 me-4 d-flex flex-row align-items-center justify-content-between">
        <div class="row">
            <h3 class="text-white link-white">{{user}}</h3>
        </div>
        <div class="row">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarID">
                <div class="navbar-nav">
                    <a class="nav-link fs-4" (click)="cerrarSesion()">Salir</a>
                </div>
            </div>
        </div>
    </div>
</nav>