<div class="sobre content-fluid w-100 d-flex">
    <div class="titulo">
        <h2>¿Quiénes Somos?</h2>
    </div>
    <div class="info">
        <p>Somos una de las mayores distribuidoras de instrumentos en <strong>CANARIAS</strong>, sobre todo de nuestro producto estrella, las guitarras.
        Ofrecemos las mejores calidades a nuestros clientes más fieles, y nos centramos en darles los mejores precios, así podemos estar contentos todos.</p>
    </div>
    <div class="titulo">
        <h2>Nuestra localización</h2>
    </div>
    <div class="mapa">
        <p>visitanos y ¡<strong>SORPRÉNDETE</strong> con la variedad de productos que podemos ofrecerte!</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23422.815347074364!2d-16.262108300544465!3d28.45860993070697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc41cc9bdf833af5%3A0x8d7b8b389112018!2sCentro%20Comercial%20Meridiano!5e1!3m2!1ses!2ses!4v1641382700104!5m2!1ses!2ses" width="410" height="405" style="border: 0; margin: 20px 0px 20px" allowfullscreen="no" loading="lazy"></iframe>
    </div>
</div>