<div class="d-flex w-100 flex-column align-items-center justify-content-center">
    <h2>Productos</h2>
    <p class="text-center w-100 mt-5">Podrás encontrar tu instrumento a medida, solo tienes que buscarlo en una de las categorias que ofrecemos, adelante, ¡Busca tu instrumento perfecto!</p>
</div>
<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="container-fluid mt-5 mb-5">
        <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-between">
            <h3 class="mb-5 mt-1 ms-5">Guitarras</h3>
            <a class="text-decoration-none link-dark text-center mb-5 mt-1 me-5" routerLink="guitarras"><h5>Ver más guitarras...</h5></a>
        </div>
        <div class="contenedor">
            <div class="repiteproducto" *ngFor="let guitarras of ListaGuitarras; let i = index" >
                <div class="carta" *ngIf="i < 6 && guitarras.ActivadoProducto == '1'">
                    <img src="/assets/img/products/{{guitarras.ImagenProducto}}">
                    <div class="cuerpo-carta">
                        <h5>{{guitarras.NombreProducto}}</h5>
                        <p>{{guitarras.DescripcionProducto}}</p>
                        <div class="container-fluid mt-2 d-flex flex-column justify-content-between align-items-center">
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" routerLink = '/productos/{{guitarras.IDProducto}}'>Ver Detalles</button>
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" (click)="CarritoAgregar(guitarras.IDProducto)">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-between">
            <h3 class="mb-5 mt-1 ms-5">Bajos</h3>
            <a class="text-decoration-none link-dark text-center mb-5 mt-1 me-5" routerLink="bajos"><h5>Ver más bajos...</h5></a>
        </div>
        <div class="contenedor">
            <div class="repiteproducto" *ngFor="let bajos of ListaBajos; let i = index" >
                <div class="carta" *ngIf="i < 6">
                    <img src="/assets/img/products/{{bajos.ImagenProducto}}">
                    <div class="cuerpo-carta" >
                        <h5>{{bajos.NombreProducto}}</h5>
                        <p>{{bajos.DescripcionProducto}}</p>
                        <div class="container-fluid mt-2 d-flex flex-column justify-content-between align-items-center">
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" routerLink = '/productos/{{bajos.IDProducto}}'>Ver Detalles</button>
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" (click)="CarritoAgregar(bajos.IDProducto)">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-between">
            <h3 class="mb-5 mt-1 ms-5">Baterias</h3>
            <a class="text-decoration-none link-dark text-center mb-5 mt-1 me-5" routerLink="baterias"><h5>Ver más baterias...</h5></a>
        </div>
        <div class="contenedor">
            <div class="repiteproducto" *ngFor="let baterias of ListaBaterias; let i = index" >
                <div class="carta" *ngIf="i < 6">
                    <img src="/assets/img/products/{{baterias.ImagenProducto}}">
                    <div class="cuerpo-carta" >
                        <h5>{{baterias.NombreProducto}}</h5>
                        <p>{{baterias.DescripcionProducto}}</p>
                        <div class="container-fluid mt-2 d-flex flex-column justify-content-between align-items-center">
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" routerLink = '/productos/{{baterias.IDProducto}}'>Ver Detalles</button>
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" (click)="CarritoAgregar(baterias.IDProducto)">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-between">
            <h3 class="mb-5 mt-1 ms-5">Teclados</h3>
            <a class="text-decoration-none link-dark text-center mb-5 mt-1 me-5" routerLink="teclados"><h5>Ver más teclados...</h5></a>
        </div>
        <div class="contenedor">
            <div class="repiteproducto" *ngFor="let teclados of ListaTeclados; let i = index" >
                <div class="carta" *ngIf="i < 6">
                    <img src="/assets/img/products/{{teclados.ImagenProducto}}">
                    <div class="cuerpo-carta" >
                        <h5>{{teclados.NombreProducto}}</h5>
                        <p>{{teclados.DescripcionProducto}}</p>
                        <div class="container-fluid mt-2 d-flex flex-column justify-content-between align-items-center">
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" routerLink = '/productos/{{teclados.IDProducto}}'>Ver Detalles</button>
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" (click)="CarritoAgregar(teclados.IDProducto)">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-between">
            <h3 class="mb-5 mt-1 ms-5">Micrófonos</h3>
            <a class="text-decoration-none link-dark text-center mb-5 mt-1 me-5" routerLink="microfonos"><h5>Ver más micrófonos...</h5></a>
        </div>
        <div class="contenedor">
            <div class="repiteproducto" *ngFor="let microfonos of ListaMicrofonos; let i = index" >
                <div class="carta" *ngIf="i < 6">
                    <img src="/assets/img/products/{{microfonos.ImagenProducto}}">
                    <div class="cuerpo-carta" >
                        <h5>{{microfonos.NombreProducto}}</h5>
                        <p>{{microfonos.DescripcionProducto}}</p>
                        <div class="container-fluid mt-2 d-flex flex-column justify-content-between align-items-center">
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" routerLink = '/productos/{{microfonos.IDProducto}}'>Ver Detalles</button>
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" (click)="CarritoAgregar(microfonos.IDProducto)">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-between">
            <h3 class="mb-5 mt-1 ms-5">Equipo para DJ</h3>
            <a class="text-decoration-none link-dark text-center mb-5 mt-1 me-5" routerLink="dj"><h5>Ver más teclados...</h5></a>
        </div>
        <div class="contenedor">
            <div class="repiteproducto" *ngFor="let dj of ListaDJ; let i = index" >
                <div class="carta" *ngIf="i < 6">
                    <img src="/assets/img/products/{{dj.ImagenProducto}}">
                    <div class="cuerpo-carta" >
                        <h5>{{dj.NombreProducto}}</h5>
                        <p>{{dj.DescripcionProducto}}</p>
                        <div class="container-fluid mt-2 d-flex flex-column justify-content-between align-items-center">
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" routerLink = '/productos/{{dj.IDProducto}}'>Ver Detalles</button>
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" (click)="CarritoAgregar(dj.IDProducto)">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-between">
            <h3 class="mb-5 mt-1 ms-5">Vientos</h3>
            <a class="text-decoration-none link-dark text-center mb-5 mt-1 me-5" routerLink="vientos"><h5>Ver más instrumentos y accesorios de viento...</h5></a>
        </div>
        <div class="contenedor">
            <div class="repiteproducto" *ngFor="let vientos of ListaVientos; let i = index" >
                <div class="carta" *ngIf="i < 6">
                    <img src="/assets/img/products/{{vientos.ImagenProducto}}">
                    <div class="cuerpo-carta" >
                        <h5>{{vientos.NombreProducto}}</h5>
                        <p>{{vientos.DescripcionProducto}}</p>
                        <div class="container-fluid mt-2 d-flex flex-column justify-content-between align-items-center">
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" routerLink = '/productos/{{vientos.IDProducto}}'>Ver Detalles</button>
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" (click)="CarritoAgregar(vientos.IDProducto)">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-between">
            <h3 class="mb-5 mt-1 ms-5">Tradicional</h3>
            <a class="text-decoration-none link-dark text-center mb-5 mt-1 me-5" routerLink="tradicional"><h5>Ver más instrumentos y accesorios tradicionales...</h5></a>
        </div>
        <div class="contenedor">
            <div class="repiteproducto" *ngFor="let tradicional of ListaTradicional; let i = index" >
                <div class="carta" *ngIf="i < 6">
                    <img src="/assets/img/products/{{tradicional.ImagenProducto}}">
                    <div class="cuerpo-carta" >
                        <h5>{{tradicional.NombreProducto}}</h5>
                        <p>{{tradicional.DescripcionProducto}}</p>
                        <div class="container-fluid mt-2 d-flex flex-column justify-content-between align-items-center">
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" routerLink = '/productos/{{tradicional.IDProducto}}'>Ver Detalles</button>
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" (click)="CarritoAgregar(tradicional.IDProducto)">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-between">
            <h3 class="mb-5 mt-1 ms-5">Software</h3>
            <a class="text-decoration-none link-dark text-center mb-5 mt-1 me-5" routerLink="software"><h5>Ver más software de producción...</h5></a>
        </div>
        <div class="contenedor">
            <div class="repiteproducto" *ngFor="let software of ListaSoftware; let i = index" >
                <div class="carta" *ngIf="i < 6">
                    <img src="/assets/img/products/{{software.ImagenProducto}}">
                    <div class="cuerpo-carta" >
                        <h5>{{software.NombreProducto}}</h5>
                        <p>{{software.DescripcionProducto}}</p>
                        <div class="container-fluid mt-2 d-flex flex-column justify-content-between align-items-center">
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" routerLink = '/productos/{{software.IDProducto}}'>Ver Detalles</button>
                            <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" (click)="CarritoAgregar(software.IDProducto)">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 