<div class="container-fuild mt-5 mb-5">
    <div class="container-fluid w-100 me-5 mb-3 d-flex flex-row justify-content-center">
        <h1 class="mb-5 mt-1 ms-5">Software</h1>
    </div>
    <div class="contenedor">
        <div class="repiteproducto" *ngFor="let soft of Software; let i = index" >
            <div class="carta mb-5 mt-5" *ngIf="soft.ActivadoProducto == '1'">
                <img src="assets/img/products/{{soft.ImagenProducto}}">
                <div class="cuerpo-carta">
                    <h5>{{soft.NombreProducto}}</h5>
                    <p>{{soft.DescripcionProducto}}</p>
                    <div class="container-fluid mt-2 d-flex flex-column justify-content-between align-items-center">
                        <button class="boton btn btn-outline-dark mb-1 mt-1 w-50" routerLink = 'productos/{{soft.IDProducto}}'>Ver Detalles</button>
                        <button class="boton btn btn-outline-dark mb-1 mt-1 w-100" (click)="CarritoAgregar(soft.IDProducto)">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>